.article-header {
  margin-top: 2rem;
}
.article-body,
.article-body a,
.article-body span,
.article-body ul, 
.article-body ol,
.article-body li {
  font-size: 1.125rem;
  line-height: 160%;
  margin: 1rem 0;
}
.article-footer {
  border-top: 1px solid #666;
  font-size: 1rem;
  color: #555;
  padding-top: 1rem;
}