// Basic Styles //////////////////////////////////////////////

h1.no-menu {
  margin-top: 2rem;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.hidden {
  left:-10000px;
  top:auto;
  float: left;
  width:1px;
  height:1px;
  overflow:hidden;
  position: absolute;
}
.note {
  opacity: 0.6;
  font-style: italic;
}
.no-bottom-margin {
  width: auto;
  margin-bottom: 0;
}
.add-margin-bottom {
  margin-bottom: 2rem;
}
.gibson-regular {
  font-family: 'Gibson Regular', arial, sans-serif;
}
.gibson-bold {
  font-family: 'Gibson Bold', arial, sans-serif;
}
.red-text {
  color: #ff0000;
}
.no-click {
  cursor: not-allowed;
}
.subtitle {
  font-size: 1.5rem;
}
.push-down {
  margin-top: 2.25rem;
}
