@font-face {
  font-family: 'budicon';
  src: url('../fonts/budicon.eot?42886572');
  src: url('../fonts/budicon.eot?42886572#iefix') format('embedded-opentype'),
       url('../fonts/budicon.woff?42886572') format('woff'),
       url('../fonts/budicon.ttf?42886572') format('truetype'),
       url('../fonts/budicon.svg?42886572#budicon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'budicon';
    src: url('../font/budicon.svg?42886572#budicon') format('svg');
  }
}
*/
 
 [class^="bi_"]:before, [class*=" bi_"]:before {
  font-family: "budicon";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
/* Help */
.bi_help:before { content: '\e829'; } /* '' */
/* Course Info & Teaching */
.bi_course-info:before { content: '\e850'; } /* '' */
/* Research */
.bi_research:before { content: '\e883'; } /* '' */
/* Careers */
.bi_careers:before { content: '\e894'; } /* '' */
/* Administrative */
.bi_administrative:before { content: '\e895'; } /* '' */
/* Academics */
.bi_academics:before { content: '\e903'; } /* '' */
/* Campus Resources */
.bi_campus-resources:before { content: '\e919'; } /* '' */
/* Student Life */
.bi_student-life:before { content: '\e932'; } /* '' */
/* Calendar */
.bi_calendar:before { content: '\e99d'; } /* '' */
/* Directory */
.bi_directory:before { content: '\ea16'; } /* '' */