// Make table filters look like a list filter to support Fred's JSF on Course Directory page.

.filters table {
  background: #fff;
  width: 100%;
}
.filters td {
  padding: 0;
}
.filters table .ui-chkbox {
  padding: 0 1rem;
}
.filters li.filter-level-1 table label {
  padding: 1rem 1rem 1rem 0;
}
.filters li.filter-level-1 table tr:last-of-type {
  border-bottom: none;
}
.filters table td:first-of-type {
  width: 48px;
}
.filters table td:nth-of-type(2n) {
  width: 187px;
}

.filter-shortcut .ui-button-icon-only {
  max-width: 2rem;
  border: none;
  border-left: 1px solid #bbb;
  border-radius: 2px;
  margin: 0 0 0 0.5rem;
  background: none transparent;
  box-shadow: none;
  &:hover {
    background: #ccc;
  }
}
.ui-button-icon-only {
  width: auto;
  min-width: 2.4rem;
}
.ui-button-icon-only .ui-button-text {
 padding: 0;
}
.ui-button-icon-only .ui-icon.fa, 
.ui-button-text-icon-left .ui-icon.fa, 
.ui-button-text-icon-right .ui-icon.fa {
  margin-top: -10px;
}
.ui-chkbox-box.ui-state-default {
  background: #fff;
}

// Course Evaluations

.ui-state-default {
  background: #ccc;
  box-shadow: none;
  font-weight: normal;
  text-shadow: none;
  color: inherit;
}

.ui-datatable thead th, 
.ui-datatable tbody td, 
.ui-datatable tfoot td, 
.ui-datatable tfoot th {
  border: none;
}
.panel-body ul {
  margin: 0;
  label {
    margin: 0;
  }
}

a.accordion-toggle {
  width: 100%;
}

// Hide bugherd iframe for mobile

//@media (max-width: 767px) {
//
//  iframe#_BH_frame {
//    visibility: hidden;
//  }
//
//}