
// The Grid Itself ////////////////////////////////////////////////

.cssgrid .grid {
  padding-bottom: 1rem;
}
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2rem;
  align-content: stretch;
}
.one-quarter {
  grid-column-end: span 3;
  min-width: 160px;
}
.one-third {
  grid-column-end: span 4;
}
.one-half {
  grid-column-end: span 6;
}
.two-thirds {
  grid-column-end: span 8;
}
.three-quarters {
  grid-column-end: span 9;
}
.full-width {
  grid-column-end: span 12;
}

.eight-col-grid {
  grid-column-end: span 12;
  display: grid;
  grid-template-columns: repeat(8, 12.5vw);
  grid-gap: 1rem;
  align-content: stretch;
}
.eight-col-grid .full-width {
  grid-column-end: span 8;
}
.eight-col-grid .item-one-eighth {
  grid-column-end: span 1;
}

@media (max-width: 767px) {
  .container {
    display: block;
  }
  .one-quarter,
  .one-third,
  .one-half,
  .two-thirds,
  .three-quarters,
  .full-width {
    margin: 2rem 0 1rem 0;
  }
}

// Nested Grid //////////

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  align-content: stretch;
}
.grid .one-quarter,
.grid .one-third,
.grid .one-half,
.grid .three-quarters, 
.grid .two-thirds,
.grid .full-width {
  margin: 0;
}
@media (max-width: 767px) {
  .grid .one-quarter,
  .grid .one-third,
  .grid .one-half,
  .grid .three-quarters,
  .grid .two-thirds,
  .grid .full-width {
    margin: 1rem 0 0 0;
  }
}
@media (max-width: 500px) {
  .grid {
    display: block;
  }
}

// Article Grid //////////

.container.article {
  grid-template-columns: repeat(4, 1fr);
  align-content: stretch;
}
.container.article .article-header {
  grid-column-end: span 4;
}
.container.article .article-body {
  grid-column-end: span 3;
}
.container.article .article-sidebar {
  grid-column-end: span 1;
}
.container.article .article-footer {
  grid-column-end: span 4;
}

// Basic Styles //////////

.container h1 {
  margin: 1.5rem 0 0 0;
}
.container .full-width h2,
h2.full-width {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .container .full-width h2,
  h2.full-width {
    margin-bottom: 1rem;
  }
}

// Boxes //////////

.highlight-box {
  background: #ddd none repeat scroll 0 0;
  overflow: hidden;
  overflow-wrap: break-word;
  padding: 1rem;
}
.highlight-box .secondary-link {
  margin-top: 0.625rem;
}

// Grid Print CSS

@media print{
  > .container {
    display: inline;
  }
  

} //end grid