@media print {
   body {
      color: #000;
      background: #fff;
   }
   nav,
   footer,
   .home-splash,
   .quicklinks-top-inner .search-container,
   .quicklinks-top-inner .logo,
   .quicklinks-top-inner ul,
    {
     display: none;
   }
   h1 {
     font-size: 1.2rem;
   }
   h2 {
     page-break-after: avoid;
   }
   div.main {
     padding-top: 0;
     overflow: auto;
   }
   div.main.scrolled {
     padding-top: 0;
   }
   div.main .full-width:first-child {
     padding-bottom: 0;
   }
   .row {
     overflow: auto;
   }
   section .row .one-third, 
   section .row .one-half, 
   section .row .one-quarter, 
   section .row .three-quarters, 
   section .row .one-fifth {
//     width: auto;
     clear: none;
     float: none;
   }
   section.full-width:first-of-type {
     padding-top: 0;
   }
   section div.preview-grid-module {
     float: none;
     display: inline-block;
     min-height: none;
     margin-top: 0;
     padding-top: 2rem;
   }
   section.full-width.notification {
     background: transparent;
   }
   div.fixed {
     position: relative;
   }
   div.quicklinks-top,
   div#CustomLinks {
     background: transparent;
   }
   .quicklinks-top.scrolled {
     display: none;
   }
   .one-quarter.preview-grid-module,
   .one-eighth.preview-grid-module {
//     max-width: 172px;
     min-width: auto;
     overflow: visible;
     vertical-align: top;
   }
   .preview-grid-module img {
     max-width: 100%;
   }
   .preview-grid-module a {
     text-decoration: none;
   }
   .full-width h1 {
//     position: fixed;
//     font-family: "Gibson Regular", arial, sans-serif;
     font-size: 1.2rem;
   }
   div.small-grid h4 {
     font-size: 0.75rem;
   }
   .form-horizontal .form-group span,
   .form-horizontal .form-group div {
     display: inline-block;
     padding-left: 0;
     width: auto;
   }
   
   // tables
   
   .filters li,
   .filters accordion,
   .filters h5,
   .filters form#dirform {
     display: none;
   }
   .filters li.current {
     display: inline;
   }
}