// Colors ////////////////////////////////////////////////////

$light-blue: #3E5BC3;
$lighter-blue: #4a60c4;
$lightest-blue: #6780cd;
$visited: #563d7c;

// Colors
$color-substrate: #EFECEA;
$color-white: #FFF;
$color-fuqua-blue: #009;
$color-fuqua-blue-dark: #00006A;
$color-sky-blue: #198AC8;
$color-sky-blue-dark: #0675B1;
$color-riptide-rush: #A3B8E5; 
$color-charcoal: #3D3D3D;
$color-glacier-teal: #639AB0;
$color-glacier-teal-dark: #4990A2;
$color-taupe: #978B82;
$color-taupe-dark: #85776C;
$color-dark-sand: #cfc7bd;
$color-dark-sand-dark: #bfb2a2;
$color-electric-salmon: #cd273c;
$color-text-shadow: #333;

$color-light-sand: rgba(130,116,97,0.4); //added 2019-03-26
